<nav class="navbar navbar-expand-lg bg-white border-bottom px-4 py-3 shadow-sm">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center brand-pop" do %>
      <%= image_tag "logo_quicktrip.png", height: 45 %>
    <% end %>

    <div class="ms-auto d-flex align-items-center gap-2">
      <% if user_signed_in? %>
        <%= link_to "Meus roteiros", "#", class: "btn btn-outline-primary hover-lift" %>
        <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-dark hover-lift" %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path, class: "btn btn-outline-primary hover-lift" %>
        <%= link_to "Criar conta", new_user_registration_path, class: "btn btn-primary hover-lift" %>
      <% end %>
    </div>

  </div>
</nav>
